numpy @ file:///C:/ci/numpy_and_numpy_base_1626271900803/work
pandas @ file:///C:/ci/pandas_1635506685681/work
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
streamlit==1.10.0
Pillow==8.4.0
tensorflow==2.9.1
matplotlib @ file:///C:/ci/matplotlib-suite_1634667159685/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
seaborn @ file:///tmp/build/80754af9/seaborn_1629307859561/work
scikit-learn==1.1.1